.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  max-width: 75vw;
}

.heroTitle {
  font-size: 36px;
  line-height: 110%;
}
